{% if error %}
	<div class="alert alert-error">
		{{ error }}
	</div>
{% else %}
	<h5>{{ path }}</h5>
	{% if paths %}
		<h4>Choose the level to restore:</h4>
		<table>
			{% for p in paths %}
				<tr>
					<td>
						{% for i in range(1,loop.index) %}&nbsp;&nbsp;&nbsp;{% endfor %} <!-- level's indents -->
						{% if loop.last %}
							<img src="{{ url_for('static', filename='img/tree/small-file.png') }}" style="margin: 0px 3px 0px 21px;"/>
						{% else %}
							
							<img src="{{ url_for('static', filename='img/tree/small-minus.png') }}"/>
							<img src="{{ url_for('static', filename='img/tree/small-folder.png') }}"/>
						{% endif %}
						<span style="margin-right:5px;">{{ p }}</span>
						</td>
					<td>
						<a href="#" onclick="send_post(event, '{{ post_url }}', '{{ p }}', 'restore', '')" class="btn btn-mini"><i class="icon icon-share-alt"></i>Restore</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endif %}
