<script>
function open_folder(event, id, full_name) {
	(event.preventDefault) ? event.preventDefault() : event.returnValue = false;
	
	if ($('#' + id).hasClass('in')) {
		$("#" + id).collapse('hide');
    	$("#" + id + "_img_minus").addClass('hidden')
    	$("#" + id + "_img_plus").removeClass('hidden')
	}
	
	else {
		var onclick = $('#link_' + id).attr('onclick')
		$('#link_' + id).removeAttr('onclick');
		$("#loading_img_" + id).removeClass('hidden');
		$.post("", {
	        full_name : full_name,
	        csrfmiddlewaretoken: getCookie('csrftoken'),
	        },function(data) {
	        	$('#' + id).html(data);
	        	$("#" + id).collapse('show');
	        	$("#" + id + "_img_plus").addClass('hidden')
    			$("#" + id + "_img_minus").removeClass('hidden')
    			$("#loading_img_" + id).addClass('hidden')
    			$('#link_' + id).attr('onclick', onclick)
	        }
		);
	}
}

function send_post(event, full_name, action, is_dir) {
	(event.preventDefault) ? event.preventDefault() : event.returnValue = false;
	// $('#get_info_div').html('')
	$("#loading_info").removeClass('hidden')
	$.post("/data/info", {
        full_name : full_name,
        action : action,
        is_dir : is_dir,
        csrfmiddlewaretoken: getCookie('csrftoken'),
        },function(data) {
              $('#get_info_div').html(data);
              $("#loading_info").addClass('hidden')
        }
	);
}
</script>
<div class="row-fluid">
	{% if errors %}
		<div class="alert alert-error">
			{{ errors.data_path }}
		</div>
	{% else %}
	<div class="span6">
		<h3>{{ path }}</h3>
		{% include 'data/files_items.html' %}
	</div>
	<div class="span6">
		<div style="position:fixed">
			<h3>MFS info
				<img id="loading_info" src="{{ url_for('static', filename='img/tree/loading_big.gif') }}" class="hidden" width=30/>
			</h3>
			<div id="get_info_div">
				<div class="alert alert-success">
					Click on filename to get mfs info about it.
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>