<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MoosFS</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet" />
		<script src="{{ url_for('static', filename='js/jquery-ui-1.9.1.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/form-coockies.js') }}" ></script>
		
		{% block extra_js %}
		{% endblock %}
	</head>
	<body class="body">
		<div class="noise-wrapper">
			<div class="container-fluid">
					{% block content %}
					{% endblock %}
			</div>
		</div>
	</body>
</html>