{% extends 'main.html' %}
{% block body %}
<script>
	function confirm_save(event) {
		(event.preventDefault) ? event.preventDefault() : event.returnValue = false;
	    var c=confirm("Do you realy wont to save file {{ filename }}?");
	    if (c == true) {
			$("#save_form").submit()
		}
		
	}
</script>
<h5>{{ filename }}</h5>
<form method="POST" action="" id="save_form">
	<input type="hidden" value="{{ filename }}" name="filename">
	<textarea style="width: 600px; height: 500px;" name="content">{{ filecontent }}</textarea><br/>
	<a href="#" class="btn btn-success" onclick="confirm_save(event)">Save</a>
	<a href="{{ url_for('master') }}" class="btn">Cancel</a>
</form>
{% endblock %}
