<h5>{{ full_name }}</h5>
<div class="btn-group" data-toggle="buttons-radio">
	{% if is_dir == 'true' %}
		<button type="button" onclick="send_post(event, '{{ full_name }}', 'mfsdirinfo', true)"class="btn btn-success {% if action == 'mfsdirinfo' %}active{% endif %}">mfsdirinfo</button>
	{% else %}
		<button type="button" onclick="send_post(event, '{{ full_name }}', 'mfscheckfile', false)" class="btn btn-success {% if action == 'mfscheckfile' %}active{% endif %}">mfscheckfile</button>
		<button type="button" onclick="send_post(event, '{{ full_name }}', 'mfsfileinfo', false)" class="btn btn-success {% if action == 'mfsfileinfo' %}active{% endif %}">mfsfileinfo</button>
	{% endif %}
</div><br/>
{% if data %}
	<div class="info">
		{{ data }}
	</div>
{% endif %}
