{% extends 'main.html' %}
{% block body %}
	<div class="row-fluid">
		<h3>Servers diagram</h3>
	</div>
	{% if errors %}
		<div class="alert alert-error">
			{% for error in errors %}
				{{ error|safe }}<br/>
			{% endfor %}
		</div>
	{% endif %}
	<div class="row">
		<div class="span10">
			<div class="row-fluid">
				<div class="span12 center">
					<a href="{{ url_for('metaloggers') }}"><strong>Metaloggers: {{ metaloggers|length }}</strong></a><br/>
					{% if metaloggers %}
						{% set image_name = 'img/diagramm/metalogger.png' %}
						{% with servers = metaloggers %}
							{% include 'servers-item.html' %}
						{% endwith %}
					{% endif %}
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3">
					<div class="inline">
						<div style="text-align:center">
							<a href="{{ url_for('master') }}"><strong>Master</strong></a><br/>
							<img src="{{ url_for('static', filename='img/diagramm/master.png') }}" width=60 class="bordered"/>
							<p>{{ master_host }}</p>
							<p>{{ master_ip }}</p>
						</div>
					</div>
				</div>
				<div class="span8 offset1 center">
					<a href="{{ url_for('chunkservers') }}"><strong>Chunkservers: {{ chunkservers|length }}</strong></a><br/>
					{% if chunkservers %}
						{% set image_name = 'img/diagramm/chunkserver.png' %}
						{% with servers = chunkservers %}
							{% include 'servers-item.html' %}
						{% endwith %}
					{% endif %}
				</div>
			</div>
			<div class="row-fluid">
				<div class="span10 center">
					<a href="{{ url_for('clients') }}"><strong>Clients: {{ clients|length }}</strong></a><br/>
					{% if clients %}
						{% set image_name = 'img/diagramm/client.png' %}
						{% with servers = clients %}
							{% include 'servers-item.html' %}
						{% endwith %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
