{% extends 'main.html' %}
{% block body %}
	<h3>{{ log_file }}</h3>
	<div class="row-fluid">
		<div class="span9">
			<div class="file-text">
				{% for line in log_content %}
					{{ line|safe }}<br/>
				{% endfor %}
			</div>
    		{% if pag.page %}
	    		<div class="pagination pagination-centered">
					<ul>
						<li class="{% if not pag.prev %}disabled{% endif %}">
							<a href="{% if pag.prev %}{{ url_for('log_viewer', page=pag.prev)}}{% else %}#{% endif %}">Prev</a>
						</li>
						{% for p in pag.pages %}
							{% if pag.page < p+2 and pag.page > p-2 or loop.last or loop.first %}
								<li class="{% if p == pag.page %}disabled{% endif %}">
									<a href="{{ url_for('log_viewer', page=p)}}">{{ p }}</a>
								</li>
							{% elif pag.page == p+2 or pag.page == p-2 %}
								<li class="disabled"><a href="#">...</a></li>
							{% endif %}
						{% endfor %}
						<li class="{% if not pag.next %}disabled{% endif %}">
							<a href="{% if pag.next %}{{ url_for('log_viewer', page=pag.next)}}{% else %}#{% endif %}">Next</a>
						</li>
					</ul>
				</div>
			{% endif %}
		</div>
		<div class="span3">
			{% if not pag.page %}
				<a href="{{ url_for('log_viewer', page=1)}}" class="btn btn-info"> Show pages</a>
			{% else %}
				<a href="{{ url_for('log_viewer', page=0)}}" class="btn btn-info"> Show full log</a>
			{% endif %}
			<a href="#" class="btn btn-success"> Download log</a>
		</div>
	</div>
{% endblock %}
